<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Registro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Nombres</ion-label>
    <ion-input id="nombre" type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Apellidos</ion-label>
    <ion-input id="apellidos" type="text" [(ngModel)]="apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input id="email" type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tipo de Documento</ion-label>
    <ion-select id="documento" [(ngModel)]="documento">
      <ion-option value="0">Seleccione Tipo de documento...</ion-option>
      <ion-option value="CC">Cedula</ion-option>
      <ion-option value="CE">Cedula de Extranjeria</ion-option>
      <ion-option value="TI">Tarjeta de Identidad</ion-option>
      <ion-option value="PA">Pasaporte</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label stacked>Numero de Documento</ion-label>
    <ion-input id="ndocumento" type="number" [(ngModel)]="ndocumento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Departamento</ion-label>
    <ion-select id="depa" (ionChange)="carciudad()" [(ngModel)]="depa">
      <ion-option value="0">Seleccione Departamento...</ion-option>
      <ion-option *ngFor="let depar of depart" value={{depar.id}}>{{depar.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Ciudad</ion-label>
    <ion-select id="ciud" [(ngModel)]="ciud">
      <ion-option value="0">Seleccione Ciudad...</ion-option>
      <ion-option *ngFor="let ciuda of ciudad" value={{ciuda.id}}>{{ciuda.name}}</ion-option>
    </ion-select>
  </ion-item>
  
</ion-content>
<ion-footer>
  <button ion-button class="submitentrada" block (click)="guser()">
    Agregar Usuario
  </button>
</ion-footer>
